body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

label, textarea, button {
    font-size: 16px;
    margin: 10px;
}

textarea {
    width: 90%;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3e8e41;
}



